<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title%></title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500;600;700&family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/index.css" />
  </head>
  <body>
    <div class="root">
      <form action="/sign-up" method="POST" id="form">
        <div class="head"><h2>Create Your Account</h2></div>
        <div class="input-box">
          <input
            type="text"
            placeholder="Username"
            name="username"
            id="username"
          />
          <div class="error" id="username-error"></div>
          <input type="email" placeholder="Gmail" name="email" id="email" />
          <div class="error" id="email-error"></div>
          <input
            type="password"
            placeholder="Password"
            name="password"
            id="password"
          />
          <div class="error" id="password-error"></div>
          <button type="submit" id="button">Submit</button>
        </div>
        <div class="terms-log">
          <span>Read our <span>Terms and Conditions</span></span>
          <span
            >Already have an account? <span><a href="/login">Log-In</a></span></span
          >
        </div>
      </form>
    </div>
    <script type="module" src="/javascripts/script.js"></script>
  </body>
</html>
